.vscode/*

# Virtual environment directory
myenv/

# Build directories
build/
dist/
__pycache__/
*.pyc
*.pyo

# environmental vars
.env

# specific
recordings/
logs/
data/
.DS_Store

# intermediate versions
old/
